article {
    width: 80vw;
    border: 1px solid #ccc;
    margin: 30px auto;
}

p {
    /* So that text is in just one line, and can be scrolled to view complete text */
    white-space: nowrap;
    /* User cannot scroll the text, text out of view port is hidden */
    overflow: hidden;
    /* when the text overflows out of view port, it put three dots */
    text-overflow: ellipsis;
}

p:hover{
     overflow: scroll;
     text-overflow: clip;
     cursor: pointer;
}

div {
    border: 2px solid black;
    background-color: palevioletred;
    margin: 20px;
    padding: 10px;

    /* to set max and min width, open inspect element and select mobile mode and then try to resize width, you will notice the difference*/
    max-width: 900px;
    min-width: 300px;
}