* {
    margin: 0;
    padding: 0;
}

div {
    height: 300px;
    width: 500px;
    margin: 40px auto;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}

.side-a {
    background-color: palevioletred;
    position: absolute;
    /* better see mdn */
    z-index: 1;
    backface-visibility: hidden;
}

.side-b {
    background-color: rebeccapurple;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.wrap {
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1000ms ease;
    /* used to make backface-visibility: hidden; */
    transform-style: preserve-3d;
}

.wrap:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

section {
    perspective: 1500px;
}

img {
    height: 100%;
    width: 100%;
}